html {
  font-family: 'Roboto', sans-serif;
  /* background: rgb(198, 192, 230) */
  /* background: rgb(241, 241, 241); */
  background: white;

}

label {
  margin-right: 15px;
  line-height: 32px;
}
label:focus {
  background: #63B767;
  color: #63B767;
}
.label {
  display: block;
  width: 100%;

}
.text:hover {
  cursor: pointer;
}

.toggle:checked ~ .label .options{
  background: #63B767;
  color: white;
   border: 0;
}
.label .options:hover {
  color: #63B767;
  cursor: pointer;
 
}
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  border-radius: 50%;
  width: 16px;
  height: 16px;

  border: 2px solid #999;
  transition: 0.2s all linear;
  margin-right: 5px;

  position: relative;
  top: 4px;
}

input:checked {
  background: #63B767;
  outline: 0;
}

button {
  margin-top: 2rem;
  color: rgb(240, 238, 238);
  background-color: none;
  padding: 0.9rem 1.5rem;
  border-radius: 0;
  border: 0;
  font-size: 36px;
  font-weight: 700;
  border-radius: 8px;
  outline: 0;
  cursor: pointer;

}
legend {
  color: rgb(24, 23, 23);
  background-color: none;
  padding: 5px 10px;
  border-radius: 0;
  border: 0;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 1rem;
}

button:hover {
  color: black;
}



.btn {
  /* padding: 5rem, 3rem !important; */
  font-size: 1.2rem;
  background: #63B767;
  border: 0;
}
.restart-btn {
  margin-top: 0 !important;
  font-size: 1.2rem;
  background: #63B767;
  border: 0;
}
.btn:hover {
  transform: translate(1.2,1.2)
}

.container {
  max-width: 800px;
  margin: 4rem auto;
}

.options {
  display: flex;
  border: 0.5px solid rgb(219, 216, 216);
  padding: 0.9rem 1rem;
  font-size: 1.4rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}
.error {
  color: red;
  font-size: 1.2rem;
  font-weight: 400;
}
.next-btn {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

}
.option-list {
  display: flex;
  align-items: center;
}
.toggle {
  display: none;
  
}
.final-score {
  color: #21396A;
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: -0.5rem;
}

progress[value] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 6px;
}
progress[value]::-webkit-progress-bar {
  background-color: #EEEEEE;
  border-radius: 20px;
}
progress[value]::-webkit-progress-value {
  background-color:#63B767;
  border-radius: 20px;
}
.progress-bar {
  margin-top: -3rem;
  margin-bottom: 1rem;
}
.progress-bar p {
  margin-bottom: -0.01rem;
}


/* css for tables */
table {
  border-collapse: separate;
  border-spacing: 0;
  /* max-width: 1200px;
  margin: 0 auto; */
  box-shadow:2px 20px 60px rgb(121, 118, 118);
  margin-bottom: 4rem;
  border-radius: 8px;
}
.table-wrapper {
  max-width: 1140px;
  margin: 0 auto;
}
 th,
td {
  padding: 1.5rem 2rem;
  /* font-weight: 400; */
}
thead {
  background: #21396A;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 500;
}
tbody tr:nth-child(even), tfoot tr:first-child {
  background: #f0f0f2;
}
td {
  border-bottom: 1px solid #cecfd5;
  border-right: 1px solid #cecfd5;
}
td:first-child {
  border-left: 1px solid #cecfd5;
  font-weight: 500;
}
td:last-child {
  font-size: 1.5rem;
  text-align: center;
}
.fa-check-circle {
  color:green;
}
.fa-times-circle {
  color: red;
}
th:first-child {
  border-top-left-radius: 8px;
}
th:last-child {
  border-top-right-radius: 8px;
}
tfoot tr:last-child td:first-child{
  border-bottom-left-radius: 8px;
}
tfoot tr:last-child td:last-child{
  border-bottom-right-radius: 8px;
}
.result-text {
  color: #E34471;
  font-size: 1.8rem;
  font-weight: 600;
  /* margin-bottom: -0.2rem;
  margin-left: -10.4rem; */
}
.restart-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.restart {
  margin-left: 2rem;

}
.score {
  text-align: center;
}
tfoot {
  font-size: 1.5rem;
  font-weight: 500;
}
.total-correct-text {
  color: green;
}
.total-correct {
  color: green;
}
.total-wrong-text {
  color: red;
}
.total-wrong {
  color: red;
}
